.position-box{
  margin-bottom: 1em !important;
}

.position-label{
  font-size: 14pt;
}

.jumbotron-background{
  background-color: #1C7D87;
  padding-top: 80px;
  padding-bottom: 10px;
}

.jumbotron-img{
  padding-right: 400px;
}

.jumbotron-font{
  color: white !important;
}

.btn-background{
  background-color: #1C7D87;
  color: white;
}

.description-font{
  font-size: 12pt;
  margin-right: 7em;
}

.documentation-margin{
  margin-left: 5em;
  margin-right: 10em;
}

.documentation-h3-font{
  color: #7F7F7F;
}

a:link {
  color: #1C7D87;
}

a:hover {
  color: #29B8C6;
}

a:visited{
  color: #1C7D87
}

.member {
  display: flex;
  margin-bottom: 10px;
  background: white;
  border-radius: 10px;
  font-weight: 200;
}

.member-img{
  width: 250px;
  height: 250px;
  margin: 20px;
}

.member-text {
  padding-top: 0px;
  display: inline-block;
  flex: 1;
}
.member-text>h1 {
  margin-bottom: 30px;
  flex: 1;
  display: inline-block;
}

.small-text{
  margin: 0 ;
}

.blockquote-margin{
  margin: 0px;
}

.text{
  font-size: 12pt;
}
